html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: rgb(59, 59, 100);
    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
    margin-left: 3rem;
    

}

div {
    display: inline;
}

#searchbar {
    background-color: rgb(194, 194, 194);
    padding: 0.3rem;
    border: solid 2px rgb(94, 94, 94);
    border-radius: 10px;
}

#search {
    margin-top: 22px;
}

.main_but {
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgb(25, 25, 66);
    padding: 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
}

.header_inter {
    display: flex;
    justify-content: space-between;
}

.main_but:hover {
    background-color: rgb(74, 74, 145);
    cursor: pointer;
}

.main_but:active {
    background-color: rgb(25, 25, 66);
}

.container {
    width: 282px;
    margin: 0 auto;
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0rem;
}

section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.322);
    cursor: pointer;
}

section article h2, section article p, section article label {
    margin: 1rem;
}

footer {
    background-color: #222;
    padding: 3rem;
    color: white;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3 ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}