* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

html, body {
    overflow-x:hidden 
} 

/* Yellow Palette */

/* :root {
    --bg-color: 0, 0, 0;grey
    --bg-color-2: 36, 36, 36;
    --main-color: 252, 163, 17;
    --secondary-color: 20, 33, 61;
    --grey: 229, 229, 229;
}  */

/* Choco Mint */

/* :root {
    --bg-color: 28, 11, 25;
    --bg-color-2: 31, 21, 29;
    --main-color: 45, 216, 129;
    --secondary-color: 20, 13, 79;
    --grey: 229, 229, 229;
} */

/* Yellow Blue */

:root {
    --bg-color: 0, 8, 20;
    --bg-color-2: 0, 29, 61;
    --main-color: 255, 195, 0;
    --secondary-color: 0, 53, 102;
    --ternary-color: 255, 214, 10;
}

::-webkit-scrollbar {
    width: 7.5px;
    height: 7.5px;
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(var(--ternary-color));
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #27264000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--ternary-color), .7)
}

body {
    background-color: rgb(var(--bg-color));
}

header {
    position: relative;
    height: 120vh;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 7.5%;
    width: 100%;
    background-color: #27264000;
    z-index: 1;
}

.navbar svg {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-left: 20px;
    color: rgb(var(--main-color));
}

.navbar svg path {
    fill: rgb(var(--main-color));
    width: 40px;
}

.navbar .menu {
    display: flex;
    color: rgb(var(--main-color));
    font-size: 2.5em;
    margin-right: 20px;
    align-items: center;
}

.navbar .menu i {
    order: 2;
    cursor: pointer;
}

@media screen and (max-height: 700px) {
    .navbar {
        margin-top: 10px;
    }
}

.socials {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    bottom: 0;
    left: 4%;
}

.socials .socials-bar {
    width: 4px;
    height: 125px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(var(--main-color));
}

.socials .icon {
    color: rgb(var(--main-color));
    font-size: 25px;
}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: max(40vw, 400px);;
    font-family: 'Bebas Neue';
    color: rgb(var(--main-color));
    user-select: none;
    z-index: -1;
}

.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.name .my-name {
    text-align: center;
    font-size: max(9vw, 90px);
    color: #ffffff;
    font-weight: 900;
    white-space: nowrap;
}

.name .my-name::before {
    content: "my name is";
    position: absolute;
    text-align: center;
    font-size: max(2vw, 20px);
    font-weight: 700;
    transform: rotate(90deg) translate(-15%, -291%);
    z-index: -1;
    color: rgb(var(--bg-color));
}

.scroll-arrow { 
    position: relative;
    height: 95vh;
    font-size: 2.5vmax;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: rgb(var(--main-color));
    animation-name: scrollUpToDown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes scrollUpToDown {
    0% {
        top: 0px;
    }
    50% {
        top: 20px;
    }
    100% {
        top: 0;
    }
}

.custom-shape-divider-bottom-1677936740 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677936740 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 101px;
}

.custom-shape-divider-bottom-1677936740 .shape-fill {
    fill: rgb(var(--bg-color-2));
}

#about-me {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: rgb(var(--bg-color-2));
    padding-top: 400px;
    padding-bottom: 300px;
}

#about-me div {
    width: 750px;
}

#about-me div h2 {
    color: rgb(var(--main-color));
    font-size: 3vmax;
    font-weight: 800;
    margin-bottom: 15px;
}

#about-me div p {
    color: #ffffff;
    font-size: 1.25vmax;
    margin-bottom: 30px;
}

#about-me div h3 {
    color: rgb(var(--ternary-color));
    font-size: 1.6vmax;
    white-space: nowrap;
}

#about-me div h3 a {
    text-decoration: none;
    color: rgb(var(--main-color));
    text-decoration: underline;
}

#about-me div h3 a:hover {
    color: rgba(var(--main-color), .5);
}

@media screen and (max-width: 1000px) {
    #about-me div {
        margin: 0 50px;
    }

    #about-me div p {
        font-size: 15px;
    }

    #about-me div h2 {
        font-size: 30px;
    }

    #about-me div h3 {
        font-size: 20px;
    }
}

.custom-shape-divider-top-1678043361 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678043361 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 109px;
}

.custom-shape-divider-top-1678043361 .shape-fill {
    fill: rgb(var(--bg-color-2));
}

#skills {
    position: relative;
    padding-top: 400px;
}

#skills h2 {
    text-align: center;
    color: rgb(var(--main-color));
    font-size: 3vmax;
    font-weight: 800;
}

#skills .skill-deck {
    display: grid;
    margin: 150px 175px;
    gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#skills .skill-deck .skill-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 3px rgb(var(--bg-color-2));
    height: 400px;
    border-radius: 15px;
    box-shadow: 10px 10px 1px rgb(var(--main-color));
}

#skills .skill-deck .skill-card i {
    position: absolute;
    color: rgb(var(--main-color));
    font-size: 100px;
    transform: translate(0, -75%);
    
}

#skills .skill-deck .skill-card p {
    position: absolute;
    bottom: 10%;
    font-size: 40px;
    color: rgb(var(--main-color));
    font-family: 'Bebas Neue';
}

#portfolio {
    margin: 200px 0;
}

#portfolio h2 {
    color: rgb(var(--main-color));
    margin-bottom: 100px;
    text-align: center;
    min-width: 600px;
    font-size: 3vmax;
}

#portfolio .project-deck {
    display: grid;
    margin: 150px 175px;
    gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#portfolio .project-deck .project-card {
    position: relative;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: solid 3px rgb(var(--bg-color-2));
    height: 400px;
    border-radius: 15px;
    box-shadow: 10px 10px 1px rgb(var(--main-color));
}

#portfolio .project-deck .project-card p {
    margin-top: 20px;
    font-size: 30px;
    color: rgb(var(--main-color));
}

#portfolio .project-deck .project-card img {
    object-fit: cover;
    width: 60%;
    margin-bottom: 40%;
    object-fit: fill;
    border: solid 2px rgb(var(--secondary-color));
    border-radius: 5px;
    overflow-y: hidden;
}

#portfolio a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgb(var(--main-color));
    text-decoration: none;
    font-size: 25px;
    border: solid 2px;
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
}

#portfolio a:hover {
    background-color: rgba(var(--main-color), .05);
}

#portfolio a:active {
    background-color: rgba(var(--main-color), .5);
}

#contact {
    position: relative;
    margin: 200px 0;
    margin-bottom: 0;
    background-color: rgb(var(--bg-color-2));
    padding: 150px 0;
}

.custom-shape-divider-top-1678781084 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678781084 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 175px;
}

.custom-shape-divider-top-1678781084 .shape-fill {
    fill: rgb(var(--bg-color));
}

#contact h2 {
    padding-top: 200px;
    color: rgb(var(--main-color));
    text-align: center;
    font-size: 3vmax;
    margin-bottom: 10px;
}

#contact form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(var(--main-color));
}

#contact .form-input {
    border-radius: 5px;
    outline: none;
    border: solid 2px rgb(var(--main-color));
    background-color: rgba(var(--bg-color, .25));
    color: rgb(var(--main-color));
    padding: 5px;
}

#contact .form-input::placeholder {
    color: rgba(var(--main-color), .5);
    opacity: 1;
}

#contact .form-input-small {
    margin-bottom: 15px;
    width: 50%;
}

#contact .form-input-big {
    width: 50%;
    height: 200px;
}

#contact label {
    width: 50%;
}

#contact textarea {
    width: 50%;
    resize: none;
}

#contact .send-btn {
    margin-top: 20px;
    background-color: rgba(var(--grey));
    border: solid 2px rgb(var(--main-color));
    color: rgb(var(--main-color));
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #000000;
}

#contact .send-btn:hover {
    background-color: rgba(var(--main-color), .05);
}

#contact .send-btn:active {
    background-color: rgb(var(--main-color));
    color: rgb(var(--bg-color));
}

#contact .send-btn:focus {
    box-shadow: 0 0 0 2px rgba(var(--main-color), .7);
}

.custom-shape-divider-bottom-1679383408 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679383408 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 63px;
}

.custom-shape-divider-bottom-1679383408 .shape-fill {
    fill: rgb(var(--bg-color));
}

footer {
    display: flex;
    justify-content: space-around;
    color: rgb(var(--main-color));
    margin: 75px 0;
}

footer .copyright {
    order: 2;
}

footer .logo {
    display: flex;
    align-items: center;
}

footer .logo svg {
    order: 1;
    width: 25px;
    height: 25px;
    color: rgb(var(--main-color));
}

footer .logo svg path {
    fill: rgb(var(--main-color));
}

footer .footer-contact {
    order: 3;
}

footer h4 {
    font-size: 20px;
}

footer .footer-contact span {
    font-weight: bold;
}

footer .footer-contact a {
    color: rgb(var(--main-color));

}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: ease 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media screen and (max-width: 600px) {
    .socials {
        position: fixed;
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .socials :nth-child(1) {
        order: 2;
    }

    .socials :nth-child(2) {
        order: 3;
    }

    .socials :nth-child(3) {
        order: 4;
    }

    .socials .socials-bar {
        height: 4px;
        width: 125px;
        position: absolute;
        bottom: 0px;
        border-radius: 5px;
        box-shadow: 0 0 2.5px black;
    }

    .navbar {
        margin-top: 10px;
    }

    .navbar svg {
        height: 32px;
        width: 32px;
    }

    .navbar .menu {
        font-size: 2em;
    }

    .name .my-name {
        font-size: max(9vw, 70px);
    }

    .name .my-name::before {
        font-size: max(2vw, 20px);
        left: -14.5%;
        top: -15%;
    }

    #skills .skill-deck {
        margin: 100px 50px;
    }

    #skills .skill-deck h2 {
        font-size: 40px;
    }
}